<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuReFa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <JuReFa.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SpaceSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FieldSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="FieldCount" serializeAs="String">
                <value>16</value>
            </setting>
        </JuReFa.Properties.Settings>
    </applicationSettings>
</configuration>